In [28]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [29]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [30]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [31]:
# List of high schools
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [32]:
# Add the Pandas dependency.
import pandas as pd

In [33]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [34]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [35]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [36]:
# Three separate lists of information on high schools
school_id = [0,1,2,3,4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [37]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [38]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID
0          0
1          1
2          2
3          3
4          4

In [39]:
import pandas as pd
import os

student_data = os.path.join('..', 'Resources', 'new_student_data.csv')
student_df = pd.read_csv(student_data)
student_df.head

<bound method NDFrame.head of        student_id       student_name grade             school_name  \
0       127008367      Sarah Douglas  11th       Chang High School
1        33365505  Francisco Osborne   9th      Fisher High School
2        44359500          Ryan Haas  12th    Campbell High School
3        24791243       Kathryn Mack  11th     Richard High School
4       121467881    Harold Reynolds  12th       Chang High School
...           ...                ...   ...                     ...
13935    32277979        Kelly Myers  10th    Sullivan High School
13936   109412748     Kimberly Burke  10th  Montgomery High School
13937    16856426    Crystal Merritt   9th      Turner High School
13938    88213835      Misty Wiggins  10th      Fisher High School
13939    12153644      Michele Jones  11th       Chang High School

       reading_score  math_score school_type
0               87.2        64.1      Public
1                NaN         NaN      Public
2               91.6        54.7      Public
3               68.9        73.3     Charter
4               68.7        43.4      Public
...              ...         ...         ...
13935           62.3        37.9      Public
13936           99.5        89.8      Public
13937           86.3        71.1      Public
13938           75.4        76.4      Public
13939           69.0        72.4      Public

[13940 rows x 7 columns]>